@model Dziennik.Models.Uczen
@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Uczeń</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwisko)
        </dd>

        <dt>
            Rodzic
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodzic.imie)
            @Html.DisplayFor(model => model.Rodzic.nazwisko)
        </dd>

        <dt>
            Klasa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klasa.level)
            @Html.DisplayFor(model => model.Klasa.nazwa)
        </dd>

        <dt>
            Login
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            Hasło
        </dt>

        <dd>
            @Html.DisplayFor(model => model.haslo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót", "Index")
</p>
