@model IEnumerable<Dziennik.Models.Uczen>

@{
    ViewBag.Title = "Uczniowie";
}

<center><h2>Uczniowie</h2></center>

<input type="button" class="btn btn-default" value="Nowy" onclick="location.href='@Url.Action("Create", "Uczen")'" />

<br />
<br />

@using (Html.BeginForm())
{
    <p>
        Szukaj osobę: @Html.TextBox("search")
        <input type="submit" value="Szukaj" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            Klasa
        </th>
        <th>
            Rodzic
        </th>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Login
        </th>
        <th>
            Hasło
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Klasa.level)
                @Html.DisplayFor(modelItem => item.Klasa.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodzic.Imie)
                @Html.DisplayFor(modelItem => item.Rodzic.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haslo)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic examlpe">
                    <input type="button" class="btn btn-default" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Uczen", new { id = item.ID })'" />
                    <input type="button" class="btn btn-default" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Uczen", new { id = item.ID})'" />
                    <input type="button" class="btn btn-default" value="Oceny" onclick="location.href='@Url.Action("Oceny", "Uczen", new { id = item.ID})'" />
                    <input type="button" class="btn btn-default" value="Uwagi" onclick="location.href='@Url.Action("Uwagi", "Uczen", new { id = item.ID})'" />
                    <input type="button" class="btn btn-default" value="Absencje" onclick="location.href='@Url.Action("Absencje", "Uczen", new { id = item.ID})'" />
                    <input type="button" class="btn btn-default" value="Usuń" onclick="location.href='@Url.Action("Delete", "Uczen", new { id = item.ID })'" />
                </div>
            </td>
        </tr>
    }

</table>
