@model Dziennik.Models.Pytanie_ucznia

@{
    ViewBag.Title = "Delete";
}

<h3>Czy jesteś pewien?</h3>
<div>
    <h4>Pytanie do nauczyciela</h4>
    <hr />
    <dl class="dl-horizontal">
								<dt>
            @Html.DisplayNameFor(model => model.Nauczyciel.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nauczyciel.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pytanie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pytanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_pytania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_pytania)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "PytaniaDoNauczyciela")
        </div>
    }
</div>
