@model IEnumerable<Dziennik.Models.Test>

@{
	ViewBag.Title = "Testy";
}

<h2>Testy</h2>

<table class="table">
	<tr>
		<th>@Html.DisplayNameFor(model => model.ID)</th>
		<th>@Html.DisplayNameFor(model => model.czas_trwania)</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.ID)</td>
			<td>@Html.DisplayFor(modelItem => item.czas_trwania)</td>
			<td>
				@Html.ActionLink("Zacznij", "Test", new { id = item.ID }) |
			</td>
		</tr>
	}

</table>
