@model IEnumerable<Dziennik.Models.Testy_ucznia>

@{
    ViewBag.Title = "TestyUcznia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestyUcznia</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Test.Nauczyciel.Imie) i @Html.DisplayNameFor(model =>model.Test.Nauczyciel.Nazwisko) nauczyciela
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test.Przedmiot.nazwa) przedmiotu
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wynik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Test.Nauczyciel.Imie) @Html.DisplayFor(modelItem => item.Test.Nauczyciel.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test.Przedmiot.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wynik)
        </td>
    </tr>
}

</table>
