@model IEnumerable<Dziennik.Models.Ocena>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oceny</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciel.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przedmiot.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uczen.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ocena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.waga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tresc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nauczyciel.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przedmiot.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uczen.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ocena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.waga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tresc)
        </td>
        <td>
            @Html.ActionLink("Zmień", "Edit", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Historia", "Historia", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
