@model Dziennik.Models.Pytanie_ucznia

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pytanie do nauczyciela</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NauczycielID, "NauczycielID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NauczycielID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NauczycielID, "", new { @class = "text-danger" })
            </div>
        </div>

								<div class="form-group">
										@Html.HiddenFor(x => x.UczenID)
								</div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pytanie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pytanie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pytanie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapytaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć", "PytaniaDoNauczyciela")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
