@model IEnumerable<Dziennik.Models.Nauczyciel>

@{
    ViewBag.Title = "Index";
}

<center><h2>Nauczyciele</h2></center>

<input type="button" class="btn btn-default" value="Nowy" onclick="location.href='@Url.Action("Create", "Nauczyciel")'" />

<br />
<br />

@using (Html.BeginForm())
{
    <p>
        Szukaj osobę: @Html.TextBox("search")
        <input type="submit" value="Szukaj" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Login
        </th>
        <th>
            Hasło
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.haslo)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic examlpe">
                    <input type="button" class="btn btn-default" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Nauczyciel", new { id = item.NauczycielID })'" />
                    <input type="button" class="btn btn-default" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Nauczyciel", new { id = item.NauczycielID})'" />
                    <input type="button" class="btn btn-default" value="Usuń" onclick="location.href='@Url.Action("Delete", "Nauczyciel", new { id = item.NauczycielID })'" />
                </div>
            </td>
        </tr>
    }

</table>
