@model IEnumerable<Dziennik.Models.Pytanie_ucznia>

@{
				ViewBag.Title = "Index";
}

<h2>Pytania uczniów</h2>

<table class="table table-bordered">
    <tr>
								<th>@Html.DisplayNameFor(model => model.Uczen.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.Przedmiot)</th>
        <th>@Html.DisplayNameFor(model => model.Pytanie)</th>
        <th>@Html.DisplayNameFor(model => model.Odpowiedz)</th>
        <th>@Html.DisplayNameFor(model => model.Data_pytania)</th>
        <th>@Html.DisplayNameFor(model => model.Data_odpowiedzi)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Uczen.FullName)</td>
        <td>@Html.DisplayFor(modelItem => item.Przedmiot.nazwa)</td>
        <td>@Html.DisplayFor(modelItem => item.Pytanie)</td>
        <td>@Html.DisplayFor(modelItem => item.Odpowiedz)</td>
        <td>@Html.DisplayFor(modelItem => item.Data_pytania)</td>
        <td>@Html.DisplayFor(modelItem => item.Data_odpowiedzi)</td>
        <td>
            @Html.ActionLink("Odpowiedz", "PytanieDoNauczycielaOdpowiedz", new { id=item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
