@model IEnumerable<Dziennik.Models.Ogloszenie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ogłoszenia</h2>
<p>
    @Html.ActionLink("Dla Rodziców", "Index", "Ogloszenie_dla_rodzicow")
</p>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciel.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naglowek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nauczyciel.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naglowek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tresc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detale", "Details", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
