@model IEnumerable<Dziennik.Models.Administrator>

@{
    ViewBag.Title = "Index";
}

<center><h2>Administratorzy</h2></center>

<input type="button" class="btn btn-default" value="Nowy" onclick="location.href='@Url.Action("Create", "Administrator")'" />

<br />
<br />

@using (Html.BeginForm())
{
    <p>
        Szukaj osobę: @Html.TextBox("search")
        <input type="submit" value="Szukaj" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Login
        </th>
        <th>
            Hasło
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haslo)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="button" class="btn btn-default" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Administrator", new { id = item.ID })'" />
                    <input type="button" class="btn btn-default" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Administrator", new { id = item.ID })'" />
                    <input type="button" class="btn btn-default" value="Usuń" onclick="location.href='@Url.Action("Delete", "Administrator", new { id = item.ID })'" />
                </div>

            </td>
        </tr>
    }

</table>
